<h1 class="text-bg-success text-center p-5">POKEBALL 🏀</h1>
<div class="container">
  <div class="col-md-6">
    <img
      (click)="showPokeball('pokeballName')"
      src="https://www.cdiscount.com/pdt2/2/4/6/2/700x700/ban3701405800246/rw/sac-a-dos-du-dresseur-pokemon-bandai-sasha-b.jpg"
      alt="Sac à dos Sacha"
      style="width: 50%; height: 300px"
    />
  </div>
</div>
<div>
  <img [src]="imgUrl" alt="" />
</div>
<!-- <img
  src="https://www.giantbomb.com/a/uploads/scale_small/9/95666/1879714-pokeball.png"
  alt=""
/> -->
