<h2 class="p-5 text-center text-bg-dark">LES POKEMONS</h2>
<a class="btn btn-info btn-lg m-4" routerLink="/pokeball"
  >Découvre le pokeball</a
>
<a class="btn btn-info btn-lg m-4" routerLink="/pokedex">Découvre le pokedex</a>
<div class="container">
  <div class="row">
    <div *ngFor="let pokemon of pokemons; let i = index" class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          [src]="pokemon.sprites.regular"
          class="card-img-top"
          alt="{{ pokemon.name.fr }}"
        />
        <div class="card-body">
          <h4 class="card-title">{{ pokemon.name.fr }}</h4>
          <p>Pokédex ID: {{ pokemon.pokedex_id }}</p>
          <div *ngFor="let type of pokemon.types">
            <p>{{ type.name }}</p>
            <img [src]="type.image" alt="" />
          </div>
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-outline-dark"
              [routerLink]="['/pokemon', pokemon.pokedex_id]"
              >Plus de détails</a
            >
          </div>
          <div class="d-flex justify-content-center">
            <button (click)="addPokemon(i)">Add to pokeball</button>
            <p>Nombre d'ajout : {{ pokemonCounts[i] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
