<h2 class="p-5 text-center text-bg-dark">LES POKEMONS</h2>
<a class="btn btn-info btn-lg m-4" routerLink="/pokeball"
  >Découvre le pokeball</a
>
<a class="btn btn-info btn-lg m-4" routerLink="/pokedex">Découvre le pokedex</a>
<div class="container">
  <div class="row">
    @for (pokemon of pokemons; track pokemon.pokedex_id) {
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          [src]="pokemon.sprites.regular"
          class="card-img-top"
          alt="{{ pokemon.name.fr }}"
        />
        <div class="card-body">
          <h4 class="card-title">{{ pokemon.name.fr }}</h4>
          <p>Pokédex ID: {{ pokemon?.pokedex_id }}</p>
          @for (type of pokemon?.types; track pokemons) {
          <p>{{ type.name }}</p>
          <img src="{{ type.image }}" alt="" />
          }
          <div class="d-flex justify-content-center">
            <a
              class="btn btn-outline-dark"
              routerLink="/pokemon/{{ pokemon.pokedex_id }}"
              >Plus de détails</a
            >
          </div>
          <div class="d-flex justify-content-center">
            <button (click)="addPokemon()">Add to pokeball</button>
            <p>Nombre d'ajout : {{ compteur }}</p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
