<h1>Détails du pokemon {{ pokemon?.name?.fr }}</h1>
<p>Pokedex id numéro : {{ pokemon?.pokedex_id }}</p>
<img src="{{ pokemon?.sprites?.regular }}" alt="" />
<div ngIf="showInfos(pokemon?.sprites?.shiny)">
  <p>Version shiny :</p>
  <img src="{{ pokemon?.sprites?.shiny }}" alt="" />
</div>
<div ngIf="showInfos(pokemon?.sprites?.gmax)">
  <p>Version gmax:</p>
  <img src="{{ pokemon?.sprites?.gmax }}" alt="" />
</div>
@for (type of pokemon?.types; track pokemon?.pokedex_id) {
<p>{{ type.name }}</p>
<img src="{{ type.image }}" alt="" />
}
<div>
  <h2>Ses statistiques :</h2>
  <p>HP : {{ pokemon?.stats?.hp }}</p>
  <p>Atk : {{ pokemon?.stats?.atk }}</p>
  <p>Def : {{ pokemon?.stats?.def }}</p>
  <p>Spe atk : {{ pokemon?.stats?.spe_atk }}</p>
  <p>Spe def : {{ pokemon?.stats?.spe_def }}</p>
  <p>Vitesse: {{ pokemon?.stats?.vit }}</p>
</div>
<h2>Evolution du pokemon {{ pokemon?.name?.fr }}</h2>
<div>
  <h3>Evolution précédente :</h3>
  @for (pokemonpre of pokemon?.evolution?.pre; track pokemon?.pokedex_id) {
  <p>{{ pokemonpre?.pokedex_id }}</p>
  <p>{{ pokemonpre?.name }}</p>
  <p>{{ pokemonpre?.condition }}</p>
  }
</div>
<div>
  @for (pokemonnext of pokemon?.evolution?.next; track pokemon?.pokedex_id) {
  <h3>Evolution suivante :</h3>
  <p>{{ pokemonnext?.pokedex_id }}</p>
  <p>{{ pokemonnext?.name }}</p>
  <p>{{ pokemonnext?.condition }}</p>
  }
  <div>
    @for (pokemonmega of pokemon?.evolution?.mega; track pokemon?.pokedex_id) {
    <h3>Evolution mega :</h3>
    <p>Orbe: {{ pokemonmega?.orbe }}</p>
    <p>Sprites: {{ pokemonmega?.sprites?.regular }}</p>
    <p>Shiny : {{ pokemonmega?.sprites?.shiny }}</p>
    }
  </div>
</div>
